.product-form-w{
    width: 100%;
}
.product-form .field-product-product_category_id{
    
}
.product-form .field-product-product_group_id{
   
}
.product-form .group-p-infor{
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
#form_product_create .control-label{
    font-weight: bold;
    color: #585555;
    font-family: inherit;
}
#form_product_create .text-muted{
    color: #999;
}
